{% extends "base.html" %}

{% block title %}ivrit.ai Explore{% endblock %}

{% block content %}
<div class="home-container">
    <h1>ivrit.ai Explore</h1>
    
    <div class="project-info">
        <h2>אודות ivrit.ai</h2>
        <p>ivrit.ai הוא פרוייקט ללא מטרות רווח. מטרתנו היא להקל על תמיכה איכותית בעברית בכלי בינה מלאכותית, ובעיקר ביכולות תמלול, על ידי הנגשת מאגרי מידע איכותיים בעברית ברשיון נוח לשימוש.</p>
        <p>ממשק זה מאפשר חיפוש ועיון במאגרי המידע שנאספו במסגרת המיזם ותומללו בעזרת מכונה.</p>
        <p>כל הנתונים מורשים תחת <a href="https://www.ivrit.ai/en/the-license/" target="_blank">רישיון ivrit.ai</a> וזמינים גם ב<a href="https://huggingface.co/ivrit-ai" target="_blank">מאגר Huggingface</a>.</p>
        <p>לתמיכה, עזרה, רעיונות ותרומות, אנא צרו קשר בכתובת <a href="mailto:info@ivrit.ai">info@ivrit.ai</a></p>
        <p></p>
        <p>לטובת פרסום מדעי, נשמח אם תצטטו את השימוש במאגר או במערכת כך: 
Yanir Marmor, Yair Lifshitz, Yoad Snapir, and Kinneret Misgav. 2025. Building an Accurate Open-Source Hebrew ASR System through Crowdsourcing.  Proceedings of Interspeech 2025</p>
    </div>
    
    <form action="{{ url_for('main.search') }}" method="GET" class="search-form">
        <input type="text" name="q" placeholder="הזן מונח לחיפוש..." autofocus>
        <div class="search-options">
            <label class="checkbox-container">
                <input type="checkbox" name="substring" id="substring-checkbox">
                <span class="checkbox-label">כלול התאמות חלקיות של מילים</span>
                <span class="checkbox-tooltip">כשלא מסומן, יתאים רק מילים שלמות</span>
            </label>
            <div class="input-container">
                <label for="max-results">מקסימום תוצאות לעמוד:</label>
                <input type="number" name="max_results_per_page" id="max-results" value="100" min="1" max="400">
                <span class="checkbox-tooltip">הגבל את מספר תוצאות החיפוש בכל עמוד</span>
            </div>
        </div>
        <button type="submit">חיפוש</button>
    </form>
</div>
{% endblock %} 